#background{
position:absolute;
background-color:grey;
opacity:0.8;

}

#button{
width:100px;
height:20px;
background-color:white;
color:blue;
}

#button:hover{
background-color:blue;
color:white;
}

p{


}

body{

position:fixed;


}


#login{

position:relative;
background-color:grey;
opacity:50%;
left:35%;
top:35%

}
