#background{

background-color:grey;
transperancy:80;

}

#button{

width:100px;
height:20px;
background-color:white;
color:blue;

active:onhover{
background-color:blue;
color:white;
}

}

p{


}

body{

position:fixed;


}


#login{

background-color:grey;
transperancy:80%;
left:35%;
top:35%

}
